@model IEnumerable<FirstCrudExample.Models.Faculty>

@{
    ViewData["Title"] = "Faculty List";
}

<style>
    body {
        background: #FEEBF6;
        
    }
</style>

<div class="container mt-5">
    <h2 class="mb-4 text-primary">Faculty List</h2>
    @if (User.IsInRole("Admin")||User.IsInRole("Accountant"))
    {
        <div class="mb-3">
            <a asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    }    

    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().FacultyName)</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FacultyName)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.FacultyId" class="btn btn-sm btn-info text-white me-1">
                            <i class="bi bi-info-circle"></i> Details
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.FacultyId" class="btn btn-sm btn-warning me-1">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.FacultyId" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>                            
                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
